div.form-container {
  display: block;
  padding: 30px;
}

.form-container {
  margin-top: 20px;
  width: 800px;
  padding: 30px, 30px;
  background-color: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}

.links {
  display: flex;
}

.fa {
  color: black;
}
.fa-trash-alt {
  color: #FFC65A;
  font-size: 30px;
  padding: 5px;
  margin-left: 30px;
}

.btn-edit {
  font-size: 15px;
}

