.top-button {
  text-align:center;
}

.bottom-button {
  margin-top: 20px;
  text-align: center;
}

.btn-edit-workspace {
  font-size: 18px;
}


.btn-edit-back {
  font-size: 12px;
  background-color: #538885;
  border: none;

}
