div.form-container {
  display: block;
  padding-left: 10px;
}

.form-container {
  margin-top: 20px;
  width: 600px;
  padding: 15px;
  background-color: #fff;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.fa {
  color: black;
}
.fa-trash-alt {
  color: #FFC65A;
  font-size: 25px;
  padding: 5px;
}

