h3 {
  color: #538885;
  border: 3px solid #538885;
  padding: 4px;

}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1685&q=80");
  height: 600px;
  position: relative;
  object-fit: cover;
}

.icons {
  display: flex;
  font-size: 40px;
  justify-content: space-evenly;
  color: #538885;
}

.home-text {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.search-button {
  color: #538885;
  border: 3px solid #538885;
  border-radius: 4%;
  padding: 4px;
}


.large-card {
  justify-content: space-evenly;
  text-align: center;
  background-color: #E8E8E8;
  width: 1000px;
  height: 400px;
  margin: auto;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.image-row {
  display: flex;
  margin: 5px;
  border-radius: 3px;
}

.small-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  padding: 10px;
}

.reviews-image {
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  height: 600px;
}

.square-cards {
  display:flex;
  justify-content:space-evenly;
}

.square-cards > p {
  color: #538885;
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #E8E8E8;
  border-radius: 7px;
  padding: 10px;
  border: 2px solid #538885;
 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.circular-sb {
  width: 300px;
  height: 300px;
  border: 5px solid #538885;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 17px;
  font-weight: 200;
  font-family: arial;
  position: relative;
  color: #538885;
  background-color: #E8E8E8;
  font-family: Montserrat, sans-serif;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.circle1 {
  border: 5px solid #538885;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
  background-color: #E8E8E8;
}

.circle2 {
  border: 5px solid #538885;
  position: absolute;
  width: 5px;
  height: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
  background-color: #E8E8E8;
}
