.bookings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  padding: 10px;
}

.qr {
  width: 145px;
  height: 145px;
  margin: 0, auto;
}

.my-booking {
  width: 700px;
  padding-top: 20px;
}
