.info {
  background-color: #FFF;
  width: 647px;
  height: 160px;
  margin-right: 30px;
  padding: 20px;
  border-radius: 1%;
  display:flex;
}

.info-flex {
  width: 500px;
}

.heading h2 {
  margin-left: 10px;
  font-weight: bold;
  color: #538885;

}

.address h3 {
  margin-left: 10px;
  color: grey;
  font-size: 20px;
}

.rating p {
  margin-left: 10px;
}

.price-text {
  margin-top: 12px;
  width: 130px;
  margin-left: 150px;
  height: 95px;
  line-height: 90px;
  border-radius: 50%;
  background-color: white;
  color: #538885;
  border: 2px solid #538885;
  text-align: center;
}

.top-container {
  display: flex;
}
.workspace-info h3 {
  font-size: 16px;
  font-weight: bolder;
  width: 667px;
  border-radius: 1%;
}

#img-large {
  padding: 30px;
  width: 856px;
  height: 435px;
  object-fit: cover;
}

.images {
  display: flex;
}

.small-images {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 415px;
}

.img-small {
  margin-bottom: 10px;
  width: 198px;
  height: 176px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $my-blue;
}

a:hover {
  text-decoration: none;
  color: rgb(248,197,89);
}

.tab-content {
  height: 300px;
  overflow: scroll;
  width: 100%;
}

#myTabContent {
  height: 300px;
  overflow: scroll;
  width: 100%;
}
.tab-content p {
  color: rgba(46, 49, 49, 1);
}
.tab-background {
  background-color: #fff;
  padding: 10px;
}

.list-group .list-group-item {
  color: rgba(46, 49, 49, 1);
}

.second-container {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.leftside {
  flex-direction: column;
  align-item: left;
}

.workspace-info {
  font-size: 16px;
  color: grey;
  padding-top: 20px;
  padding-right: 20px;
}

.workspace-info p {
  font-size: 16px;
  padding-top: 10px;
}

.list-amenities {
  display: flex;
  flex-direction: row;
  margin-top: 61px;

}

.list-group .list-group-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tab-icons {
  display: flex;

  img {
    height: 50px;
    width: 50px;
    margin-left: 40px;
 }
}

.btn-edit {
  padding: 15px;
  font-size: 15px;
  margin-top: 20px;
  color: white;
  background-color: #538885;
  border: none;
}

.show-btn {
  margin-top: 10px;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fa {
  color: black;
}
.fa-star {
  color: #538885;
  font-size: 20px;
  padding: 5px;
}


.bookingform {
  width: 350px;
  height: 475px;
  margin-right: 35px;
  font-size: 16px;
  border: 1px solid $my-blue;
  border-radius: 1%;
  background-color: white;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.input {
  padding: 30px;
  color: ¢my-blue;
}

.hidden {
  display: none;
}

.price-target {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: rgb(14,1,1);
  position: relative;
  bottom: 15px;
}

.price-target:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: white;
}

.tab-content > .active {
  height: 210px;
}
