.workspaces {
  display: flex;
  width: 100%;
  margin: 20px;
  background-color: #F4F4F4;
}

.workspaces-leftside {
  width: 60%;
  background-color: #F4F4F4;
}


.workspaces-rightside {
  width: 40%;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: lightblue;
}

.workspaces-cards {
  display: flex;
  flex-wrap: wrap;
}


h2 {
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 18px;
}

p {
  color: black;
  font-family: "montserrat", sans-serif;
  font-size: 18px;
}


