.workspaces {
  display: flex;
  width: 100%;
  margin: 20px;
}

.workspaces-leftside {
  width: 50%;
}

// .map {
//   display: flex;
//   flex-wrap: wrap;
// }

.workspaces-rightside {
  width: 50%;
  background-color: lightblue;
}

.workspaces-cards {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  color: black;
  font-family: "roboto", sans-serif;
  font-size: 30px;
}

p {
  color: black;
  font-family: "montserrat", sans-serif;
  font-size: 20px;
}


