
<div class="workspaces">
  <div class="workspaces-leftside">
    <div class="workspaces-cards">
      <% @workspaces.each do |workspace| %>
      <%= link_to workspace_path(workspace) do %>
      <div class="workspace-card">
        <img class="workspace-card-image" src="assets/workspace5.jpg" alt="placeholder">
        <h2 class="workspace-card-name"> <%= workspace.name %></h2>
      <div class="workspace-card__icons">
           <div><img src="https://img.icons8.com/metro/25/000000/wifi-logo--v1.png"/></div>
           <div><img src="https://img.icons8.com/plasticine/25/000000/phone-not-being-used.png"/></div>
           <div><img src="https://img.icons8.com/fluent-systems-filled/25/000000/plugin.png"/></div>
      </div>
      <p> <%= workspace.postcode %></p>
    </div>
        <% end %>
        <% end %>
    </div>
  </div>

 <div class="workspaces-rightside">
   map
 </div>
</div>

