<div class= "background-image">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 <%= link_to 'Book Now', @workspaces_path, class: "btn btn-success"  %>
</div>
<div>
  <h2>Inspiring flexible working… with a great cup of coffee!</h2>
  <p>If you are looking for a truly flexible workspace with all the facilities of an office, the convenience of your local high-street and the relaxed vibe of your favourite coffee shop then look no further! Just a stones throw away from your front door, we want to make your working experience as comfortable and easy as possible and with some of the most delicious coffee and tea in London…
  </p>
  <div class="icons">
    <i class="fas fa-wifi"></i>
    <h3>Free Wifi</h3>
    <i class="fas fa-plug"></i>
    <h3>Many Plug Sockets</h3>
    <i class="fas fa-mug-hot"></i>
    <h3>Tea and Coffee Available</h3>
  </div>



</div>
<div>
  <img src="https://images.unsplash.com/photo-1562664348-2188b99b5157?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="image of cafe" class= "small-image">
</div>
<div>
  <img src="https://images.unsplash.com/photo-1601933470198-75ebdfa8e740?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="image of cafe" class= "small-image">
</div>
<div class= "reviews">
  <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
