.bas-de-page {
  background: #fff;
  display: flex;
  height: 70px;
  align-items: center;
  min-width: 100vw;
}

.footer-links {
  position: absolute;
  left: 20px;
  font-size: 20px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom {
  color: #538885;
  position: absolute;
  right: 10px;
  background-color: white;
  height: 70px;
  line-height: 70px;
}

