.workspace-card {
  background-color: grey;
  width: 230px;
  background-color: white;
  width: 200px;
  height: fit-content;
  padding:10px;
  margin: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  .img {
    width: 100px;
  }

  &:hover {
    transform: scale(1.05);
    transition: 0.2s;

  }
}

  .icons {
    display: flex;
}

.card-image-workspace {
  width: 300px;
}
