<div class="container my-5 edit">
<%= simple_form_for [ @workspace, @review ] do |f| %>
  <%= f.input :content, label: "Review this space:", placeholder: "Write your review", class:"label-review" %>
  <%= f.input :rating, label: "Rate this space", placeholder: "Rate this between 1 and 5" %>
  <%= f.submit "Submit review", class: "btn btn-outline-success" %>
<% end %>
</div>
